<h1><center>Phone Book</center></h1>
<hr />

<div class="left">

<h3>Add phone numbers for <%= @contact.name() %>:</h3>

<form action="/number" method="post">

    <input id="id" name="id" type="hidden" value="<%= @contact.id() %>">
    <br />
    <br />

    <label for="type"><ul>Type:  </ul></label>
    <input id="type" name="type" type="text" placeholder="Cell">
    <br />
    <br />

    <label for="number"><ul>Number:  </ul></label>
    <input id="number" name="number" type="text" placeholder="555.555.5555">
    <br />
    <br />

    <button class="btn btn-success">Add</button>
    <br />
    <br />

</form>

</div>



<div class="right">

      <ul>
        <h3><%= @contact.name() %></h3>
        <% @contact.phone_numbers().each() do |phone| %>
        <li><%= phone.type() %>: <%= phone.number() %></li>
        <% end %>
      </ul>

<br >

  <a href="/"><button type="submit" class="btn btn-warning">Return to the Directory</button></a>

</div>
